.home-big-daddy {
  height: 100vh;
  overflow: auto;
  background-color: #f3f2f2;
  min-width: 320px;
}

.home-content-daddy {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 32px;
  gap: 64px;
}