.animator-daddy {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.home-big-daddy {
  height: 100vh;
  overflow: auto;
  background-color: #f3f2f2;
  min-width: 320px;
}

.home-connect-meta-wallet-daddy {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
}

.home-connect-meta-wallet {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 60%
}

.home-content-daddy {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px 0px;
  gap: 64px;
}

.home-swap-token-daddy {
  display: flex;
  flex-direction: column;
}

.home-swap-token {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.swap {
  margin-bottom: 0.5em;
}

.swap .ant-select-selector .ant-select-selection-item {
  font-weight: 600;
  font-size: 1.17em;
  padding-right: 0;
}